{% extends 'base.html' %}

{% block content %}
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="error-title">{{ _('Oops! Page Not Found') }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="error-description">{{ _("It looks like the page you're looking for doesn't exist.
                        But don't worry, we've got a main option for you:") }}</p>
                        <ul class="error-menu-list">
                            <li class="error-menu-item">Go back to the <a href="{{ url_for('main.index') }}">homepage</a>.</li>
                        </ul>
                        <p class="error-description-footer">If you believe this is an error, please <a href="{{ url_for('main.contact') }}">contact us</a>. In the meantime,
                            feel free to explore the rest of the site!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}