form {
  .form-group {
    margin-bottom: 17px;
    position: relative;

    &.bmd-form-group {
      position: relative;
      padding-top: 27px;
      margin-bottom: 17px;
      will-change: left, top, contents;
      line-height: 1.4;
      font-weight: 400;

      &.is-focused>.bmd-label-floating,
      &.is-filled>.bmd-label-floating {
        top: 0.6rem;
        left: 0;
        font-size: .675rem;
      }

      &>.bmd-label-floating {
        color: #8d8d8d;
        position: absolute;
        pointer-events: none;
        transition: 0.3s ease all;
        bottom: 7px;
      }

      &>.bmd-notation {
        margin-top: 0;
        font-size: .825rem;
        position: absolute;
      }
    }

    &>.form-control {
      border: 0;
      border-bottom: 2px solid #d2d2d2;
      border-radius: 0;
      height: 36px;
      font-size: 16px;
      display: block;
      width: 100%;
      padding: 0.4rem 0;
      color: #495057;
      box-shadow: none;
      transition: 0.3s ease all;

      &:focus {
        box-shadow: none;
        outline: 0;
        border-color: #f16236;
        background-color: #f4f4f4;
      }

      &.invalid {
        border-color: #dd293a;
      }
    }
  }

  &>.form-control {
    &.form-control-dark {
      color: #fff;
      background-color: #212529;
      border-color: #6c757d;

      &:focus {
        color: #fff;
        background-color: #212529;
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);

        &::placeholder {
          color: #fff;
          transition-duration: .25s;
        }
      }

      &::placeholder {
        color: #6c757d;
      }
    }
  }

  textarea {
    resize: none;
    height: auto !important;
    scrollbar-width: none;
    line-height: 1.5 !important;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .submit {
    padding-top: 35px;

    &>.btn-raised {
      &:hover {
        box-shadow: 0 14px 26px -12px rgba(2,0,31,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(156,39,176,.2);
      }
    }
  }
}