@keyframes moveRight {
    0% {
        transform:  translateX(0);
    }
    50% {
        transform: translateX(15%);
    }
    10% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
  }
}

html {
  scroll-behavior: smooth;
}

html * {
    -webkit-font-smoothing: antialiased;
}

textarea {
    resize: none;
    height: auto !important;
    scrollbar-width: none;
    line-height: 1.5 !important;
    overflow: auto;
}

textarea::-webkit-scrollbar {
    display: none;
}

.section {
    padding:70px 0;
    background-size: cover;
    background-position: center center;
}

.section-dark {
    background: rgb(88,88,88);
    background: radial-gradient(circle, rgba(88,88,88,1) 13%, rgba(88,88,88,1) 41%, rgba(35,35,35,1) 100%);
}

.section-orange {
    background: rgb(241,118,80);
    background: radial-gradient(circle, rgba(241,118,80,1) 13%, rgba(219,82,40,1) 41%, rgba(182,65,29,1) 100%);
}

.option-small-block {
    max-width: 360px;
    margin: 0 auto;
    padding: 60px 0 30px;
}

.section-title {
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 5px;
}

.option-title {
    margin-top: 35px;
    margin-bottom: 1rem;
}

.description,
.option-description{
    color: #898989;
    line-height: 1.5em;
}

.section-option-description {
    padding-right: 2rem;
}

.section-title-description {
    margin-top: 5px;
    margin-bottom: 50px;
}

.image-container {
    max-width: 1040px;
    margin-top: -140px;
    position: relative;
    height: 560px;
}

.option-img {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,.14),
                0 3px 14px 2px rgba(0,0,0,.32),
                0 5px 5px -3px rgba(0,0,0,.2);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.ortho-image {
    max-width: 1040px;
    width: auto;
    position: absolute;
    top: 10%;
    left: -30%;
}

.move-left {
    animation-name: moveLeft;
}

.move-right {
    animation-name: moveRight;
}

.bathroom-img {
    left: -5%;
    top: 51%;
    height: 180px;
}

.ceiling-img {
    left: 5%;
    top: 9%;
    height: 140px;
}

.plan-img {
    left: 53%;
    top: 2%;
    height: 170px;
}

.walls-img {
    left: 77%;
    top: 34%;
    height: 190px;
}

.floor-img {
    left: 70%;
    top: 78%;
    height: 140px;
}

.motto-section {
    text-shadow: 0 0 0 #000, 0 0 1em #000;
}

.motto-section > p {
    margin: 0;
    font-weight: 600;
    line-height: 1;
}

.page-desc {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.9s ease-in-out;
}

.page-desc.show {
    opacity: 1;
    transform: translateX(0);
}

.motto-section > .page-main-motto {
    font-size: 3.4rem;
    color: #f16236;
}

.motto-section > .page-secondary-motto {
    font-size: 3rem;
    color: rgba(255,255,255,.76);
    margin-left: 25px;
}

.cloud {
    transition: all 0.2s ease;
}

.cloud:hover {
    transform: scale(1.05);
}

.single-offer {
    text-align: center;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 25px;
}

.single-offer:hover > a > h4 {
    color: #f16236;
}

.single-offer > a {
    text-decoration: none;
    outline: 0;
    color: #222222;
}

.single-offer > p {
    margin-bottom: 0;
}

.offer-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.3rem;
}

.main-offer {
    font-weight: 600;
}

.main-section-preview-image {
    width: auto;
    margin: 0 auto;
    display: block;
    max-height: 560px;
    object-fit: cover;
}

.set-above-2 {
    position: relative;
    z-index: 2;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.light-color {
    color: rgba(255,255,255,.76);
}

.page-name-block {
    color: #fff;
    text-align: center;
}

.scrolling-fast-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all .5s ease-out;
}

.scrolling-fast-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.btn-contact {
    width: 50%;
    background-color: #f16236;
    border-color: #f16236;
}

.btn-contact:hover {
    background-color: #f84f1c;
    border-color: #f84f1c;
}

.contact-row {
    margin-top: 15px;
}

.qr-code {
    width: auto;
    height: 220px;
}

.page-name-block .page-name {
    font-size: 6.2rem;
    font-weight: 600;
    text-shadow: 0 0 0 #000, 0 0 1em #000;
}

.small-shadow {
    text-shadow: 0 0 0 #404040, 0 0 1em #404040;
}

.options-section {
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fill, 100px);
}

.service-option {
    background-color: #fff;
    height: 120px;
    align-items: center;
    justify-content: center;
    gap: 22px;
    border-radius: 15px;
    padding: 1rem;
}

.service-option > .option-name > p {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}

.text-icon {
    display: inline-block;
    position: absolute;
    height: 580px;
    width: auto;
    left: -46%;
    z-index: -1;
}

.address {
    font-size: 2.4rem;
}

.contact-info {
    font-size: 1.2rem;
    color: #333;
}

.contact-info > * {
    padding-block: 5px;
}

.contact-info i {
    margin-right: 8px;
    font-size: 24px;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.15s;
}

.contact-link:hover {
    color: #007bff;
}

.option-raised {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),
                0 6px 30px 5px rgba(0,0,0,.12),
                0 8px 10px -5px rgba(0,0,0,.2);
}

/*CONTAINER*/

.container-light-mode {
    background-color: #fff;
    position: relative;
    z-index: 3;
}

.container-raised {
    margin: -60px 60px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),
                0 6px 30px 5px rgba(0,0,0,.12),
                0 8px 10px -5px rgba(0,0,0,.2);
}

.row-padding-block {
    padding-block: 60px;
}

/*UNDER HEADER BACKGROUND-IMAGE*/

.page-header {
    height: 70vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.header-text {
    margin-bottom: 25px;
}

.header-filter {
    position: relative;
}

.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(74,94,121,.25) 55%, rgba(0,78,119,0.15) 100%);
}

.form-group {
    margin-bottom: 17px;
    position: relative;
}

.btn-raised:hover {
    box-shadow: 0 14px 26px -12px rgba(2,0,31,.42),0 4px 23px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(156,39,176,.2);
}

.submit {
    padding-top: 35px;
}

.bmd-form-group {
    position: relative;
    padding-top: 27px;
    margin-bottom: 17px;
    will-change: left, top, contents;
    line-height: 1.4;
    font-weight: 400;
}

.bmd-label-floating {
    color: #8d8d8d;
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;
    bottom: 7px;
}

.bmd-form-group.is-focused > .bmd-label-floating,
.bmd-form-group.is-filled > .bmd-label-floating {
    top: 0.6rem;
    left: 0;
    font-size: .675rem;
}

.bmd-notation {
    margin-top: 0;
    font-size: .825rem;
    position: absolute;
}

.form-control {
    border: 0;
    border-bottom: 2px solid #d2d2d2;
    border-radius: 0;
    height: 36px;
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 0.4rem 0;
    color: #495057;
    box-shadow: none;
    transition: 0.3s ease all;
}

.form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: #f16236;
    background-color: #f4f4f4;
}

.contact-information {
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
}

.contact-information.show {
    opacity: 1;
    transform: translateY(0);
}

.contact-information > i {
    position: absolute;
    top: 20px;
    left: -35px;
    font-size: 30px;
    color: #f16236;
}

.small-contact-title {
    font-weight: 600;
    display: inline-block;
    margin: 1.5rem .75rem;
}

.intent-container {
    margin-bottom: 30px;
}

.intent-container > .content {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    max-height: 400px;
    height: 400px;
}

.intent-container > .content > img.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-contact-description {
    color: #808080;
    font-weight: 400;
    font-size: .975rem;
    line-height: 1.6rem;
    margin: 0 .75rem;
}

.form-control.invalid {
    border-color: #dd293a;
}

.bg-center {
    background-position: center center;
}

.address-block {
    padding-left: 35px;
}

/*INPUT FORM*/

.form-control-dark {
    color: #fff;
    background-color: #212529;
    border-color: #6c757d;
}

.form-control-dark::placeholder {
    color: #6c757d;
}

.form-control-dark:focus {
    color: #fff;
    background-color: #212529;
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.form-control-dark:focus::placeholder {
    color: #fff;
    transition-duration: .25s;
}

#map {
    width: 100%;
    border: 2px solid rgba(88,88,88,1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.3s ease-in-out;
}

.hover-raise:hover,
#map:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.45);
}