{% extends 'base.html' %}

{% block content %}
    <div class="page-header header-filter bg-center" style="background-image: url('{{ url_for('static', filename='images/new_appartment.webp') }}');">
        <div class="container set-above-2">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="page-name-block">
                        <h1 class="page-name">Top Design</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mr-auto">
                    <div class="motto-section">
                        <p class="page-main-motto page-desc">Swift and Reliable</p>
                        <p class="page-secondary-motto page-desc">Quality</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="error-title">404 Error</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}