{% extends 'base.html' %}

{% block content %}
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row row-padding-block">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h4 class="description text-center">{{ _("Comprehensive and modern interior finishing in homes,
                        apartments, offices, and commercial and service spaces") }}</h4>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/hammer.svg') }}" alt="Hammer" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">{{ _("Professional interior finishing") }}</h5>
                            <p class="option-description">{{ _("We offer comprehensive finishing work for homes, apartments,
                            and offices, tailored to the individual needs of our clients.") }} </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/drill.svg') }}" alt="Drill" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">{{ _("Comprehensive renovation and modernization") }}</h5>
                            <p class="option-description">{{ _("We specialize in interior renovations and modernizations,
                            restoring them to a modern appearance and top-level functionality.") }}</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/paint-brush.svg') }}" alt="Paint Brush" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">{{ _("Installation and finishing of details") }}</h5>
                            <p class="option-description">{{ _("Precise installation work, filling,
                            and finishing of small elements that give interiors a final, elegant appearance.") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mx-auto">
                        <h3 class="title section-title">{{ _("Client Reviews") }}</h3>
                        <h5 class="title-description section-title-description">{{ _("See what our clients have to say about our work.") }}</h5>
                        <p class="option-description section-option-description">{{ _("We have been entrusted with the
                                interior
                                renovation of numerous apartments and houses. Our clients' feedback speaks for itself.
                            You can read their reviews on our dedicated reviews page, where you'll see how highly people
                                value the quality of our work.") }}</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="image-container">
                            <img class="main-section-preview-image" src="{{ url_for('static', filename='images/house_preview.png') }}" alt="White modern house">
                            <img class="bathroom-img option-img move-right" src="{{ url_for('static', filename='images/option_bathroom.webp') }}" alt="Bathroom">
                            <img class="ceiling-img option-img move-right" src="{{ url_for('static', filename='images/option_ceiling.webp') }}" alt="Light ceiling">
                            <img class="plan-img option-img move-left" src="{{ url_for('static', filename='images/option_making_plan.webp') }}" alt="cartoon house with pencil and paper">
                            <img class="walls-img option-img move-left" src="{{ url_for('static', filename='images/option_walls.webp') }}" alt="Well done different walls">
                            <img class="floor-img option-img move-left" src="{{ url_for('static', filename='images/option_wooden_floor.webp') }}" alt="Wooden floor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="image-container">
                            <img class="ortho-image" src="{{ url_for('static', filename='images/ai-rooms-flat.webp') }}" alt="Set of tools">
                        </div>
                    </div>
                    <div class="col-xl-4 ml-auto">
                        <div class="description-block">
                            <h3 class="title section-title text-white">{{ _("Consulting") }}</h3>
                            <h5 class="title-description section-title-description light-color">{{ _("Individualized consulting,
                            fast execution, and support after the completion of the work") }}</h5>
                            <p class="option-description section-option-description light-color">{{ _("We provide professional consulting at every stage of finishing and modernization,
                            as well as support after the project is completed. We execute work quickly and on time, ensuring the highest quality and customer satisfaction.
                            We also assist with service-related issues after the completion of the work.") }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row scrolling-fast-up">
                    <div class="col-xl-4 option-raised hover-raise">
                        <img class="text-icon" src="{{ url_for('static', filename='svg/placeholder.svg') }}" alt="Location icon">
                        <div class="address-block">
                            <h4 class="title section-title address">{{ _("Address:") }}</h4>
                            <div class="contact-info">
                                <p class="mb-0 d-flex align-items-center"><i class="fa-solid fa-map-location-dot"></i><strong>ul. Graniczna 14, 98-300 Gaszyn</strong></p>
                                <a class="contact-link d-flex align-items-center" href="mailto:email@example.com"><i class="fa fa-envelope"></i>email@example.com</a>
                                <a class="contact-link d-flex align-items-center" href="tel:+48723569435"><i class="fa-solid fa-mobile"></i>+48 723 569 435</a>
                            </div>
                        </div>
                        <div class="qr-code-section text-center">
                            <img class="qr-code" src="{{ url_for('static', filename='svg/qr.svg') }}" alt="QR Code">
                        </div>
                        <div class="contact-row text-center">
                            <a class="btn btn-warning btn-contact" href="{{ url_for('contact') }}">{{ _("Contact") }}</a>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        {% if map %}
                            <div id="map" class="hover-raise">
                                {{ map|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}