{% extends 'base.html' %}

{% block content %}
    <div class="page-header header-filter" style="background-image: url('{{ url_for('static', filename='images/background_team.webp') }}');">
        <div class="container set-above-2">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="page-name-block">
                        {% if title %}
                            <h1 class="page-name">{{ title }}</h1>
                        {% else %}
                            <h1>About Us</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row row-padding-block">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h4 class="description text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Ad at debitis dolores ipsa maxime neque pariatur, provident.</h4>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/hammer.svg') }}" alt="Hammer" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">Lorem ipsum dolor sit amet</h5>
                            <p class="option-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere incidunt laboriosam
                                perspiciatis quasi recusandae rem, voluptas. Aliquam at earum fugiat in</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/drill.svg') }}" alt="Drill" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">Lorem ipsum dolor sit amet</h5>
                            <p class="option-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere incidunt laboriosam
                                perspiciatis quasi recusandae rem, voluptas. Aliquam at earum fugiat in</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="option-small-block">
                            <div class="icon-container">
                                <img src="{{ url_for('static', filename='svg/paint-brush.svg') }}" alt="Paint Brush" width="72px" height="72px">
                            </div>
                            <h5 class="option-title">Lorem ipsum dolor sit amet</h5>
                            <p class="option-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere incidunt laboriosam
                                perspiciatis quasi recusandae rem, voluptas. Aliquam at earum fugiat in</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 mx-auto">
                        <h3 class="title section-title">Safety at work</h3>
                        <h5 class="title-description section-title-description">Workplace Safety Essentials</h5>
                        <p class="option-description section-option-description">Ensuring a safe workplace is our top priority. Our team is committed to
                            maintaining the highest safety standards, fostering a secure and
                            healthy environment for all employees to thrive.</p>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="image-container">
                            <img class="main-section-preview-image" src="{{ url_for('static', filename='images/house_preview.png') }}" alt="White modern house">
                            <img class="bathroom-img option-img move-right" src="{{ url_for('static', filename='images/option_bathroom.webp') }}" alt="Bathroom">
                            <img class="ceiling-img option-img move-right" src="{{ url_for('static', filename='images/option_ceiling.webp') }}" alt="Light ceiling">
                            <img class="plan-img option-img move-left" src="{{ url_for('static', filename='images/option_making_plan.webp') }}" alt="cartoon house with pencil and paper">
                            <img class="walls-img option-img move-left" src="{{ url_for('static', filename='images/option_walls.webp') }}" alt="Well done different walls">
                            <img class="floor-img option-img move-left" src="{{ url_for('static', filename='images/option_wooden_floor.webp') }}" alt="Wooden floor">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="image-container">
                            <img class="ortho-image" src="{{ url_for('static', filename='images/ai-rooms-flat.webp') }}" alt="Set of tools">
                        </div>
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="description-block">
                            <h3 class="title section-title text-white">Lorem Ipsum</h3>
                            <h5 class="title-description section-title-description light-color">Lorem Ipsum dolor sit amet.</h5>
                            <p class="option-description section-option-description light-color">Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Alias, consequuntur culpa eaque eveniet id.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row scrolling-fast-up">
                    <div class="col-md-4 option-raised hover-raise">
                        <img class="text-icon" src="{{ url_for('static', filename='svg/placeholder.svg') }}" alt="Location icon">
                        <div class="address-block">
                            <h4 class="title section-title address">Address:</h4>
                            <div class="contact-info">
                                <p class="mb-0 d-flex align-items-center"><i class="fa-solid fa-map-location-dot"></i><strong>osiedle Kopernika 1, 98-300 Wieluń</strong></p>
                                <a class="contact-link d-flex align-items-center" href="mailto:email@example.com"><i class="fa fa-envelope"></i>email@example.com</a>
                                <a class="contact-link d-flex align-items-center" href="tel:+48123456789"><i class="fa-solid fa-mobile"></i>+48 123 456 789</a>
                            </div>
                        </div>
                        <div class="qr-code-section text-center">
                            <img class="qr-code" src="{{ url_for('static', filename='svg/qr.svg') }}" alt="QR Code">
                        </div>
                        <div class="contact-row text-center">
                            <a class="btn btn-warning btn-contact" href="{{ url_for('contact') }}">Contact</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        {% if map %}
                            <div id="map" class="hover-raise">
                                {{ map|safe }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}