<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% if title %}
        <title>{{ title }} | Top Design</title>
    {% else %}
        <title>Top Design</title>
    {% endif %}
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{{ url_for('index') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="{{ url_for('static', filename='svg/logo.svg') }}" alt="Logo" width="48px" height="48px">
                </a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ url_for('index') }}" class="nav-link px-2 text-white {% if active_page == 'index' %}active{% endif %}">Home</a></li>
                    <li><a href="{{ url_for('about') }}" class="nav-link px-2 text-white {% if active_page == 'about' %}active{% endif %}">About Us</a></li>
                    <li><a href="{{ url_for('services') }}" class="nav-link px-2 text-white {% if active_page == 'services' %}active{% endif %}">Services</a></li>
                    <li><a href="{{ url_for('realisations') }}" class="nav-link px-2 text-white {% if active_page == 'realisations' %}active{% endif %}">Realisations</a></li>
                </ul>
                <form action="" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input id="search-bar" type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>
                <ul class="nav mb-md-0 justify-content-center">
                    <li><a href="{{ url_for('reviews') }}" class="btn btn-outline-light me-2">Reviews</a></li>
                    <li><a href="{{ url_for('contact') }}" class="btn btn-warning">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="messages">
            <div class="container">
                {% for message in messages %}
                    <div class="message">
                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <footer class="page-footer mt-5">
        <div class="container">
            <div class="row footer-above-block justify-content-between">
                <div class="col-lg-4 footer-title-container">
                    <h4 class="footer-title">Got a Question? Share your email and We'll write you</h4>
                </div>
                <div class="col-lg-4 footer-input-container">
                    <label class="footer-input-label" for="question-email">For any questions, offers or comments please fill out the following form.</label>
                    <form action="">
                        <input id="question-email" class="footer-input" type="text" placeholder="Email address">
                        <div class="submit-container">
                            <input class="footer-input-submit" type="submit" value="Submit">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row footer-navigation">
                <div class="col-lg-8">
                    <ul class="nav justify-content-start">
                        <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link px-2 text-white fw-bolder">Home</a></li>
                        <li class="nav-item"><a href="{{ url_for('about') }}" class="nav-link px-2 text-white fw-bolder">About Us</a></li>
                        <li class="nav-item"><a href="{{ url_for('services') }}" class="nav-link px-2 text-white fw-bolder">Services</a></li>
                        <li class="nav-item"><a href="{{ url_for('realisations') }}" class="nav-link px-2 text-white fw-bolder">Realisations</a></li>
                        <li class="nav-item"><a href="{{ url_for('reviews') }}" class="nav-link px-2 text-white fw-bolder">Reviews</a></li>
                        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link px-2 text-white fw-bolder">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 text-end">
                    <a href="{{ url_for('policy') }}" class="footer-terms-links text-white fw-bolder px-2">Privacy Policy</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/template_animations.js') }}"></script>
    <script src="https://kit.fontawesome.com/36346b1403.js" crossorigin="anonymous"></script>
</body>
</html>