{% extends 'base.html' %}

{% block content %}
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row row-padding-block">
                    <div class="col-md-12">
                        <h2 class="title section-title text-left">{{ _("Send us a message") }}</h2>
                        <h5 class="title-description section-title-description">
                            {{ _("You can contact us with anything related to our work.
                            We'll get in touch with you as soon as possible.") }}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ wtf.quick_form(form) }}
                    </div>
                    <div class="col-md-4 ml-auto">
                        <div class="contact-information">
                            <i class="fa-solid fa-map-location"></i>
                            <h5 class="small-contact-title">{{ _("Where to Find Us") }}</h5>
                            <p class="small-contact-description">
                                ul. Graniczna 14
                                <br>
                                98-300
                                <br>
                                Gaszyn
                            </p>
                        </div>
                        <div class="contact-information">
                            <i class="fa-solid fa-mobile"></i>
                            <h5 class="small-contact-title">{{ _("Contact Details") }}</h5>
                            <p class="small-contact-description">
                                Tomasz Nawrocki
                                <br>
                                +48 723 569 435
                                <br>
                                {{ contact_email }}
                            </p>
                        </div>
                        <div class="contact-information">
                            <i class="fa-solid fa-circle-info"></i>
                            <h5 class="small-contact-title">{{ _("Legal Disclosures") }}</h5>
                            <p class="small-contact-description">
                                {{ website_title }} JDG
                                <br>
                                REGON: 363007044
                                <br>
                                NIP: 8322025895
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}