{% extends 'base.html' %}

{% block content %}
    <div class="page-header header-filter bg-center" style="background-image: url('{{ url_for('static', filename='images/new_appartment.webp') }}');">
        <div class="container set-above-2">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="page-name-block">
                        <h1 class="page-name">Top Design</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 mr-auto">
                    <div class="motto-section">
                        <p class="page-main-motto page-desc">Swift and Reliable</p>
                        <p class="page-secondary-motto page-desc">Quality</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 pb-50 header-text text-center">
                        <h2 class="main-offer">What we offer to our clients</h2>
                        <p>We offer comprehensive home and apartment renovations, including full interior finishing services</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-offer cloud">
                            <a href="#"><h4 class="offer-title">Interior Finishing</h4></a>
                            <p>We provide high-quality interior finishing services, transforming your space into a
                                stylish and functional environment, tailored to your preferences.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-offer cloud">
                            <a href="#"><h4 class="offer-title">Expert Consultation</h4></a>
                            <p>Our team provides professional advice on processes, materials, costs, and construction
                                work, helping you make informed decisions and achieve your desired results.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-offer cloud">
                            <a href="#"><h4 class="offer-title">Comprehensive Construction Services</h4></a>
                            <p>From start to finish, we manage all aspects of your renovation project,
                                ensuring seamless execution and a stress-free experience for you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 pb-50 header-text text-center">
                        <h2 class="main-offer">Our Recent Works may impress you</h2>
                        <p>Explore our impressive work through a gallery small gallery</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="intent-container">
                            <div class="content cloud">
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/example_rw_1.webp') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="intent-container">
                            <div class="content cloud">
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/example_rw_2.webp') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="intent-container">
                            <div class="content cloud">
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/example_rw_3.webp') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="intent-container">
                            <div class="content cloud">
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/example_rw_4.webp') }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 pb-40 header-text text-center">
                    <h2 class="main-offer text-white small-shadow">A Wide Variety of Our Services</h2>
                    <p class="text-white small-shadow">Explore a wide range of services tailored to your needs.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="d-flex gap-2 flex-wrap options-section">
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Filling</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Consulting</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Wall Painting</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Renovations</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Comprehensive Construction Services</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Drywall Installations</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Home and Apartment Renovations</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Plastering and Smoothing Walls</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Wallpapering</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Flooring Installations</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Tiling and White Installation</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Ventilation</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Air Conditioning</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Electrical Services</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Sanitary Installations</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Example</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Example_1</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Example_2</span></p>
                            </div>
                        </div>
                        <div class="service-option p-2">
                            <div class="option-name p-2 px-3">
                                <p class="d-flex gap-2"><i class="fa-solid fa-circle-dot align-content-center"></i><span>Example_3</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}