<div class="page-header header-filter bg-center" style="background-image: url('{{ url_for('static', filename='images/' + header_image + '.webp') }}');">
    <div class="container set-above-2">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="page-name-block">
                    {% if title %}
                        <h1 class="page-name">{{ title }}</h1>
                    {% else %}
                        <h1 class="page-name">{{ website_title }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if is_under_header_caption %}
            <div class="row">
                <div class="col-lg-6 mr-auto">
                    <div class="motto-section">
                        <p class="page-main-motto page-desc">{{ _("Swift and Reliable") }}</p>
                        <p class="page-secondary-motto page-desc">{{ _("Quality") }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>