{% extends 'base.html' %}

{% block content %}
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 pb-50 header-text text-center">
                        <h2 class="main-offer">{{ _("Privacy Policy") }}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">1. {{ _("Introduction") }}</h3>
                        <p>{{ _("This Privacy Policy sets out the rules for processing, storing,
                        and protecting the personal data of users of the %(title)s website, available at %(contact_email)s.
                        The data controller is %(title)s, headquartered in Gaszyn, hereinafter referred to as the 'Administrator.'", title=website_title, contact_email=contact_email) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">2. {{ _("Types of Data Collected") }}</h3>
                        <p>{{ _("While using our website, we may collect the following personal data of users:") }}</p>
                        <ul>
                            <li>{{ _("Name and surname") }}</li>
                            <li>{{ _("Email address") }}</li>
                            <li>{{ _("Phone number") }}</li>
                            <li>{{ _("Cookies") }}</li>
                            <li>{{ _("Other data voluntarily provided by users through forms available on the website.") }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">3. {{ _("Purposes of Data Processing") }}</h3>
                        <p>{{ _("Users' personal data is processed for the following purposes:") }}</p>
                        <ul>
                            <li>{{ _("Enabling the use of services offered by the website") }}</li>
                            <li>{{ _("Fulfilling orders and customer service") }}</li>
                            <li>{{ _("Sending newsletters (with consent)") }}</li>
                            <li>{{ _("Conducting analysis and statistics related to website usage") }}</li>
                            <li>{{ _("Securing and protecting the rights of the Administrator.") }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">4. {{ _("Legal Basis for Data Processing") }}</h3>
                        <p>{{ _("Personal data is processed on the basis of:") }}</p>
                        <ul>
                            <li>{{ _("User consent (Article 6(1)(a) of GDPR)") }}</li>
                            <li>{{  _("Performance of a contract or actions at the user's request before concluding a contract (Article 6(1)(b) of GDPR)") }}</li>
                            <li>{{ _("Sending newsletters (with consent)") }}</li>
                            <li>{{ _("The legitimate interest of the Administrator (Article 6(1)(f) of GDPR), such as conducting statistical and marketing analyses.") }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">5. {{ _("Data Sharing") }}</h3>
                        <p>{{ _("Users' personal data may be shared with the following recipients:") }}</p>
                        <ul>
                            <li>{{ _("Entities processing data on behalf of the Administrator, such as IT service providers") }}</li>
                            <li>{{  _("Public authorities, if required by law.") }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">6. {{ _("Data Retention") }}</h3>
                        <p>{{ _("Personal data is stored for as long as necessary to fulfill the purposes
                        for which it was collected or for the period required by law.
                        Data processed based on user consent is retained until the consent is withdrawn.") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">7. {{ _("User Rights") }}</h3>
                        <p>{{ _("Users have the following rights:") }}</p>
                        <ul>
                            <li>{{ _("The right to access data") }}</li>
                            <li>{{ _("The right to rectify data") }}</li>
                            <li>{{ _("The right to delete data") }}</li>
                            <li>{{ _("The right to restrict data processing") }}</li>
                            <li>{{ _("The right to data portability") }}</li>
                            <li>{{ _("The right to object to data processing") }}</li>
                            <li>{{ _("The right to withdraw consent to personal data processing.") }}"</li>
                        </ul>
                        <p>{{ _("To exercise these rights, users can contact the Administrator via email at: %(contact_email)s", contact_email=contact_email) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">8. {{ _("Cookies") }}</h3>
                        <p>{{ _("The website uses cookies to ensure proper functionality and for analytical and marketing purposes.
                        Users can manage cookie settings through their web browser settings.") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">9. {{ _("Changes to the Privacy Policy") }}</h3>
                        <p>{{ _("The Administrator reserves the right to make changes to this Privacy Policy.
                        Users will be informed of any changes via the website.") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">10. {{ _("Contact") }}</h3>
                        <p>{{ _("For questions regarding this Privacy Policy, please contact the Administrator via email: %(contact_email)s.", contact_email=contact_email) }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h5 class="fw-bolder">{{ _("Last updated:") }} 01.09.2024 12:42</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}