{% extends 'base.html' %}

{% block content %}
    <div class="page-header header-filter" style="background-image: url('{{ url_for('static', filename='images/calm-apartment.webp') }}');">
        <div class="container set-above-2">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="page-name-block">
                        {% if title %}
                            <h1 class="page-name">{{ title }}</h1>
                        {% else %}
                            <h1 class="page-name">About Us</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 pb-50 header-text text-center">
                        <h2 class="main-offer">Polityka Prywatności</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">1. Wprowadzenie</h3>
                        <p>Niniejsza Polityka Prywatności określa zasady przetwarzania, przechowywania i ochrony danych osobowych
                            użytkowników strony internetowej Top Design dostępnej pod adresem [Adres URL Strony].
                            Administratorem danych osobowych jest Top Design z siedzibą w Wieluniu, zwana dalej "Administratorem".</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">2. Rodzaje zbieranych danych</h3>
                        <p>W ramach korzystania z naszej strony internetowej możemy zbierać następujące dane osobowe użytkowników:</p>
                        <ul>
                            <li>Imię i nazwisko</li>
                            <li>Adres e-mail</li>
                            <li>Numer telefonu</li>
                            <li>Pliki cookie</li>
                            <li>Inne dane przekazywane dobrowolnie przez użytkowników za pośrednictwem formularzy dostępnych na stronie.</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">3. Cele przetwarzania danych</h3>
                        <p>Dane osobowe użytkowników przetwarzane są w następujących celach:</p>
                        <ul>
                            <li>Umożliwienie korzystania z usług oferowanych przez stronę internetową</li>
                            <li>Realizacja zamówień i obsługa klienta</li>
                            <li>Wysyłka newslettera (w przypadku wyrażenia zgody)</li>
                            <li>Prowadzenie analiz i statystyk dotyczących korzystania ze strony</li>
                            <li>Zabezpieczenie i ochrona praw Administratora</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">4. Podstawa prawna przetwarzania danych</h3>
                        <p>Dane osobowe przetwarzane są na podstawie:</p>
                        <ul>
                            <li>Zgody użytkownika (art. 6 ust. 1 lit. a RODO)</li>
                            <li>Wykonania umowy lub podjęcia działań na żądanie użytkownika przed zawarciem umowy (art. 6 ust. 1 lit. b RODO)</li>
                            <li>Wysyłka newslettera (w przypadku wyrażenia zgody)</li>
                            <li>Prawnie uzasadnionego interesu Administratora (art. 6 ust. 1 lit. f RODO), jak np. prowadzenie analiz statystycznych i marketingowych</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">5. Przekazywanie danych</h3>
                        <p>Dane osobowe użytkowników mogą być przekazywane następującym odbiorcom:</p>
                        <ul>
                            <li>Podmiotom przetwarzającym dane w imieniu Administratora, jak np. dostawcom usług IT</li>
                            <li>Organom publicznym, jeśli wymagają tego przepisy prawa</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">6. Przechowywanie danych</h3>
                        <p>Dane osobowe przechowywane są przez okres niezbędny do realizacji celów, dla których zostały zebrane,
                            lub przez okres wymagany przepisami prawa.
                            Dane przetwarzane na podstawie zgody użytkownika przechowywane są do momentu jej wycofania.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">7. Prawa użytkownika</h3>
                        <p>Użytkownikowi przysługują następujące prawa:</p>
                        <ul>
                            <li>Prawo dostępu do danych</li>
                            <li>Prawo do sprostowania danych</li>
                            <li>Prawo do usunięcia danych</li>
                            <li>Prawo do ograniczenia przetwarzania</li>
                            <li>Prawo do przenoszenia danych</li>
                            <li>Prawo do wniesienia sprzeciwu wobec przetwarzania</li>
                            <li>Prawo do wycofania zgody na przetwarzanie danych osobowych</li>
                        </ul>
                        <p>Aby skorzystać z tych praw, użytkownik może skontaktować się z Administratorem za pośrednictwem adresu e-mail: redduck5601@gmail.com</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">8. Pliki cookie</h3>
                        <p>Strona internetowa wykorzystuje pliki cookie w celu zapewnienia prawidłowego funkcjonowania
                            oraz w celach analitycznych i marketingowych.
                            Użytkownik może zarządzać ustawieniami plików cookie za pomocą ustawień przeglądarki internetowej.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">9. Zmiany w Polityce Prywatności</h3>
                        <p>Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszej Polityce Prywatności.
                            O wszelkich zmianach użytkownicy będą informowani za pośrednictwem strony internetowej.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bold mb-3">10. Kontakt</h3>
                        <p>W przypadku pytań dotyczących niniejszej Polityki Prywatności, prosimy o kontakt z Administratorem za pośrednictwem adresu e-mail: [Adres e-mail Administratora].</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                        <h5 class="fw-bolder">Data ostatniej aktualizacji: 01.09.2024 12:42</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}