{% extends 'base.html' %}

{% block content %}
    <div class="container-raised container-light-mode">
        <div class="section">
            <div class="container">
                {% for index in range(0, images_length, 2) %}
                <div class="row images-block">
                    <div class="lightbox-section">
                        <div class="intent-container">
                            <div class="content cloud">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/realisations/' + room_images[index] + '.webp') }}" alt="">
                            </div>
                        </div>
                    </div>

                    {% if index + 1 < images_length %}
                    <div class="lightbox-section">
                        <div class="intent-container">
                            <div class="content cloud">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <img class="content-image img-fluid d-block mx-auto" src="{{ url_for('static', filename='images/realisations/' + room_images[index + 1] + '.webp') }}" alt="">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="lightbox-modal" class="lightbox">
        <span class="close">&times;</span>
        <img src="" class="lightbox-content" id="lightbox-image" alt="gallery image container">
    </div>
{% endblock %}